@font-face {
    font-family: 'Cavolini';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Cavolini.ttf') format('truetype');
}

@font-face {
    font-family: 'Cavolini';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('/fonts/CavoliniBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cavolini';
    font-style: italic, oblique;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/CavoliniItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Cavolini';
    font-style: italic, oblique;
    font-weight: bold;
    font-display: swap;
    src: url('/fonts/CavoliniBoldItalic.ttf') format('truetype');
}
